<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo Advisor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="https://thumbs.dreamstime.com/b/internet-robo-advisor-fintech-chat-bot-line-icon-cryptocurrency-internet-robo-advisor-fintech-chat-bot-blockchain-online-304747655.jpg" alt="Robo Advisor">
        <h2>Welcome to Robo Advisor</h2>
        <form action="/financial_QA" method="post">
            <input type="submit" value="Financial Q&A">
        </form>
        <form action="/financial_news" method="post">
            <input type="submit" value="Financial News">
        </form>
        <form action="/sentiment_analysis" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>
        <form action="/transfer_money" method="post">
            <input type="submit" value="Transfer Money">
        </form>
    </div>
</body>
</html>
